@import "tailwindcss";

@theme {
  --color-primary: #0056D2;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f3f4f6;
  --color-secondary-foreground: #1f2937;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
  }
}
